@charset "utf-8";

/*----------------------------------------------------

	汎用的ではないモジュールの設定ファイルです。
	主に編集するファイルはこのファイルになります。

----------------------------------------------------*/

body {
}

.header {
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.logo {
	font-size: 32px;
	margin: 0 auto;
	line-height: 60px;
	width: 180px;
}

.navi {
	&_lists {
		> li {
			text-align: center;
			a {
				color: #333;
				display: inline-block;
				font-size: 14px;
				line-height: 60px;
				width: 100%;
			}
			&:hover {
				a {
					color: #fff;
				}
			}
		}
	}
}

.mv {
	background: url(../image_uniq/mv.jpg) no-repeat center center;
	height: 780px;
	&_inner {
		height: 100%;
	}
	&_medias {
		position: absolute;
		bottom: -150px;
		width: 100%;
	}
}

.mainTitle {
	color: #fff;
	font-size: 40px;
	font-weight: 100;
	text-align: center;
}
.mainText {
	color: #fff;
	text-align: center;
}

.heading-typeA {
	font-size: 32px;
	text-align: center;
}

.media {
	padding: 5px;
	&_image {
		width: 100%;
	}
	&_info {
		border-bottom: 1px solid #eee;
		padding: 5px 0;
	}
	&_date, &_cat {
		font-size: 12px;
	}
	&_tit {
		height: 60px;
	}
	&-typeA {
		background: #fff;
	}
	&-typeB {
		background: #f9f9f9;
	}
}

.section {
	padding: 120px 0;
	&-typeA {
		background: #fff;
	}
	&-typeB {
		background: #eee;
	}
	&-top {
		padding: 60px 0;
	}
}

.menu {
	background: #bbb;
	cursor: pointer;
	text-align: center;
	height: 420px;
	overflow: hidden;
	.menu_texts01 {
		color: #fff;
		position: absolute;
		left: 15px;
		bottom: 15px;
		line-height: 1;
		.menu_title {
			font-size: 21px;
		}
	}
	.menu_texts02 {
		color: #333;
		opacity: 0;
		.menu_title {
			font-size: 24px;
		}
	}
	&-01 {
		background: url(../image_uniq/mv.jpg) no-repeat center center;
	}
	&-02 {
		background: url(../image_uniq/mv.jpg) no-repeat center center;
	}
	&-03 {
		background: url(../image_uniq/mv.jpg) no-repeat center center;
	}
	&-half {
		height: 280px;
	}
	&-ritch {
		* {
			transition: all 0.5s;
		}
		&:before {
			background: rgba(255, 255, 255, 0.5);
			content: '';
			display: block;
			height: 100%;
			width: 100%;
			transform: scale(2.5) translate(-100%, -100%) rotate(-45deg);
			transition: all 0.5s;
		}
		&:hover {
			.menu_texts01 {
				opacity: 0;
			}
			.menu_texts02 {
				opacity: 1;
			}
			&:before {
				transform: scale(2.5) translate(0, 0) rotate(-45deg);
			}
		}
	}
}

.button {
	text-align: center;
	margin: 0 auto;
	width: 220px;
	a {
		background: #0091D0;
		color: #fff;
		display: inline-block;
		padding: 15px 0;
		position: relative;
		width: 100%;
		transition: all 0.25s;
		&:after {
			content: '>';
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translate(0, -50%);
		}
	}
	&:hover {
		a {
			background: #333;
		}
	}
	&-l {
		width: 480px;
	}
}