<ul class="u-ul-style">
  <li>.u-ul-styleは、リストの先頭に「・」を追加します。<br>モディファイアの指定で「・」を以下に変更できます。</li>
</ul>
<ul class="u-ul-style u-ul-style--asterisk">
  <li>.u-ul-style--asterisk</li>
</ul>
<ul class="u-ul-style u-ul-style--disc">
  <li>.u-ul-style--disc</li>
</ul>
<ul class="u-ul-style u-ul-style--number">
  <li>.u-ul-style--number</li>
  <li>.u-ul-style--number</li>
</ul>

<ul class="u-ul-default">
  <li>.u-ul-defaultで、デフォルトのulスタイルを設定できます。</li>
</ul>

<ol class="u-ol-default">
  <li>.u-ol-defaultで、デフォルトのolスタイルを設定できます。</li>
  <li>.u-ol-defaultで、デフォルトのolスタイルを設定できます。</li>
</ol>

<style>
  ul, ol {
    margin: 10px 0;
  }
</style>