<p>.u-mtX, .u-mbXで、Xpx分のマージンを設定します。</p>
<p class="u-mb10">また、.u-mtX-tab, u-mbX-sp等でレスポンシブ対応します。</p>
<p>設定可能な数値: [0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,90,100,110,120]</p>

<div style="background:#eee;border: 1px solid #ddd;margin:15px 0;padding:0 5px;">
	<p class="u-mt120 u-mt60-tab u-mt40-sp" style="background:#C93A40; color:#fff;">上マージンに120px設定します。タブレットの場合60px、SPでは40pxに変更します。</p>
	<p class="u-mt40 u-mb40 u-ml20" style="background:#F2CF01; color:#fff;">上マージンに40px、下マージンに40px、左マージンに20px設定します。
	</p>
	<p class="u-mt40 u-mb40 u-mr60" style="background:#fff; text-align: right;">上マージンに40px、下マージンに40px、右マージンに60px設定します。
	</p>
	<p class="u-mb120 u-mb60-tab u-mb40-sp"style="background:#0074BF; color:#fff;">下マージンに120px設定します。タブレットの場合60px、SPでは40pxに変更します</p>
</div>