<p>.u-mtX, .u-mbXで、Xpx分のマージンを設定します。</p>

<div style="background:#eee;border: 1px solid #ddd;margin:15px 0;padding:0 5px;">
	<p class="u-mt30">上マージンに30px設定します。</p>
	<p class="u-mt60 u-mb30">上マージンに60px、下マージンに30px設定します。</p>
	<p class="u-mb5">下マージンに5pxだけ設定します。</p>
</div>