<p>.u-ptX, .u-pbXで、Xpx分のパディングを設定します。</p>
<p class="u-mb10">また、.u-ptX-tab, u-pbX-sp等でレスポンシブ対応します。</p>
<p>設定可能な数値: [0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,90,100,110,120]</p>

<div style="background:#eee;border: 1px solid #ddd;margin:15px 0;">
	<p class="u-pt120 u-pt60-tab u-pt40-sp" style="background:#C93A40; color:#fff;">
		上パディングに120px設定します。タブレットの場合60px、SPでは40pxに変更します。</p>
	<p class="u-pt40 u-pb40 u-pl20" style="background:#F2CF01; color:#fff;">上パディングに40px、下パディングに40px、左パディングに20px設定します。</p>
	<p class="u-pt40 u-pb40 u-pr60" style="background:#fff; text-align: right;">上パディングに40px、下パディングに40px、右パディングに60px設定します。
	</p>
	<p class="u-pb120 u-pb60-tab u-pb40-sp" style="background:#0074BF; color:#fff;">
		下パディングに120px設定します。タブレットの場合60px、SPでは40pxに変更します</p>
</div>