<p class="u-align-c">これは中央揃えのテキストです。</p>
<p class="u-align-l">これは左揃えのテキストです。</p>
<p class="u-align-r">これは右揃えのテキストです。</p>
<p class="u-align-c u-align-l-tab">これはPCで中央揃え、タブレット以下で左揃えのテキストです。</p>
<p class="u-align-c u-align-l-tab u-align-r-sp">これはPCで中央揃え、タブレットで左揃え、SPで右揃えのテキストです。</p>