<p class="u-mb30">グリッドにガターを設定します。<br>親要素に .l-gutter-(サイズ)を設定します。</p>

<p>.l-gutter-l</p>
<ul class="l-grid l-gutter-l l-grid-example">
	<li class="l-grid_item l-grid_item-6">
		<div class="grid_content">6カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-6">
		<div class="grid_content">6カラム</div>
	</li>
</ul>

<p>.l-gutter-m</p>
<ul class="l-grid l-gutter-m l-grid-example">
	<li class="l-grid_item l-grid_item-3">
		<div class="grid_content">3カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-6">
		<div class="grid_content">6カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-3">
		<div class="grid_content">3カラム</div>
	</li>

</ul>

<p>.l-gutter-s</p>
<ul class="l-grid l-gutter-s l-grid-example">
	<li class="l-grid_item l-grid_item-1">
		<div class="grid_content">1カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-1">
		<div class="grid_content">1カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-1">
		<div class="grid_content">1カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-1">
		<div class="grid_content">1カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-1">
		<div class="grid_content">1カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-1">
		<div class="grid_content">1カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-1">
		<div class="grid_content">1カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-1">
		<div class="grid_content">1カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-1">
		<div class="grid_content">1カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-1">
		<div class="grid_content">1カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-1">
		<div class="grid_content">1カラム</div>
	</li>
	<li class="l-grid_item l-grid_item-1">
		<div class="grid_content">1カラム</div>
	</li>

</ul>