@charset "utf-8";

/*----------------------------------------------------

	レイアウト設定のファイルです。
	ヘッダー、フッター、メインコンテンツ、サイドバーなどの構成の大枠や
	レイアウトに関するスタイルを設定します。

	命名規則として、クラス名の頭に 
	l-* (Layoutのl)という接頭辞をつけることを推奨します。

----------------------------------------------------*/


/*--------------------------
	レイアウト用
--------------------------*/
.l-header {
	width: 100%;
	&_inner {
		padding: 15px 0;
	}
	&_logo {
		float: left;
		width: 220px;
	}
	&_navi {
		float: right;
		width: 700px;
	}
}

.l-navi {
	> li {
		float: left;
		width: 25%;
	}
}