<h1 class="a-heading-01">.a-heading-01でシンプルな見出しアニメーションを設定します。</h1>

<h1 class="a-anim-txts"><span>.</span><span>a</span><span>-</span><span>a</span><span>n</span><span>i</span><span>m</span><span>-</span><span>t</span><span>x</span><span>t</span><span>s</span><span>で流れるような文字アニメーションを設定します。</span><span>（デフォルト最大100文字まで）</span></h1>

<style>
  h1 {
    font-size: 24px;
    margin: 10px 0;
  }
</style>
<script>
  $(function() {
    setTimeout(()=> {
      $('.a-heading-01').addClass('active');
    }, 250);
    setTimeout(()=> {
      $('.a-anim-txts').addClass('active');
    }, 500);
  });
</script>