  <p>.a-slide-box-Aで画像スライドのアニメーションを設定できます。<br>モディファイアでスライドの方向を指定できます。（デフォルトは、.a-slide-box-A--t の動きになります。）</p>

  <div>
    <div class="a-slide-box-A a-slide-box-A--t">
      <img src="/img/sample.jpg" alt="" />
    </div>

    <div class="a-slide-box-A a-slide-box-A--r">
      <img src="/img/sample.jpg" alt="" />
    </div>

    <div class="a-slide-box-A a-slide-box-A--b">
      <img src="/img/sample.jpg" alt="" />
    </div>

    <div class="a-slide-box-A a-slide-box-A--l">
      <img src="/img/sample.jpg" alt="" />
    </div>
  </div>


<style>
  .a-slide-box-A {
    margin: 20px 10px;
    max-width: 300px;
    display: inline-block;
  }
</style>
<script>
  $(function() {
    $('.a-slide-box-A--t').addClass('active');
    setTimeout(()=> {
      $('.a-slide-box-A--r').addClass('active');
    }, 1000);
    setTimeout(()=> {
      $('.a-slide-box-A--b').addClass('active');
    }, 2000);
    setTimeout(()=> {
      $('.a-slide-box-A--l').addClass('active');
    }, 3000);

  });
</script>