  <p>.a-slide-box-Bで画像スライドのアニメーションを設定できます。<br>モディファイアでスライドの方向を指定できます。（デフォルトは、.a-slide-box-B--t の動きになります。）</p>

  <div>
    <div class="a-slide-box-B a-slide-box-B--t">
      <div class="slide-box-B__bg">
        <img src="{{path '/img/sample.jpg'}}" alt="" />
      </div>
    </div>
    <div class="a-slide-box-B a-slide-box-B--r">
      <div class="slide-box-B__bg">
        <img src="{{path '/img/sample.jpg'}}" alt="" />
      </div>
    </div>
    <div class="a-slide-box-B a-slide-box-B--b">
      <div class="slide-box-B__bg">
        <img src="{{path '/img/sample.jpg'}}" alt="" />
      </div>
    </div>
    <div class="a-slide-box-B a-slide-box-B--l">
      <div class="slide-box-B__bg">
        <img src="{{path '/img/sample.jpg'}}" alt="" />
      </div>
    </div>
  </div>


<style>
  .a-slide-box-B {
    margin: 20px 10px;
    max-width: 300px;
    display: inline-block;
  }
</style>
<script>
  $(function() {
    $('.a-slide-box-B--t').addClass('active');
    setTimeout(()=> {
      $('.a-slide-box-B--r').addClass('active');
    }, 1000);
    setTimeout(()=> {
      $('.a-slide-box-B--b').addClass('active');
    }, 2000);
    setTimeout(()=> {
      $('.a-slide-box-B--l').addClass('active');
    }, 3000);
  });
</script>