  <p>.slide-galleryでスライダーを設定できます。</p>

  <div class="slide-gallery">
    <div class="slide-gallery__inner">
      <div style="background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); height:100%; width: 100%;"></div>
    </div>
  </div>
