<p class="is-Pc">これはPCのみ表示のコンテンツです。</p>
<p class="is-Pc_Tab">これはPCとタブレットのみ表示のコンテンツです。</p>
<p class="is-Tab">これはタブレットのみ表示のコンテンツです。</p>
<p class="is-Tab_Sp">これはタブレットとスマホのみ表示のコンテンツです。</p>
<p class="is-Sp">これはスマホのみ表示のコンテンツです。</p>