<p class="is-pc">これはPCのみ表示のコンテンツです。</p>
<p class="is-pc-tab">これはPCとタブレットのみ表示のコンテンツです。</p>
<p class="is-tab">これはタブレットのみ表示のコンテンツです。</p>
<p class="is-tab-sp">これはタブレットとスマホのみ表示のコンテンツです。</p>
<p class="is-sp">これはスマホのみ表示のコンテンツです。</p>