<div class="l-pos-relative" style="background:#eee; height:360px; width:100%;">
	<p style="position:absolute;top:30px;left:180px;">.l-pos-relativeで絶対配置の基準を設定します。</p>
	<p style="position:absolute;bottom:110px;right:60px;">.l-pos-relativeで絶対配置の基準を設定します。</p>
	<p style="position:absolute;bottom:110px;right:60px;">.l-pos-relativeで絶対配置の基準を設定します。</p>
	<p style="position:absolute;bottom:0px;left:0px;">.l-pos-relativeで絶対配置の基準を設定します。</p>
</div>