<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{path '/css/style.css'}}">
    <title>{{ _target.label }} | Preview Layout</title>
    <style>
      .ex-content {
        background: #f9f9f9;
        border: 1px solid #bbb;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 60px auto;
        padding: 60px;
        width: 95%;
      }

      .l-grid-example li .grid_content {
        background: #eee;
        padding: 30px 5px;
        text-align: center;
      }
      .l-grid-example li:nth-child(2n) .grid_content {
        background: #ddd;
      }

      .mixin_ttl {
        color: #333;
        font-weight: bold;
        line-height: 2;
      }

      .codeArea {
        background: #333;
        color: #fff;
        padding: 15px;
      }
    </style>
</head>
<body>
<div id="main">
  <section class="main-content">
    <div class="ex-content">
{{{ yield }}}
    </div>
  </section>
</div>
</body>
</html>