@charset "utf-8";

/*----------------------------------------------------

	font-familyの一覧ファイルです。
	基本変更することはありません。

----------------------------------------------------*/

// ゴシック(ベーシック)
$gothic-A: Arial, "Helvetica Neue",'Hiragino Kaku Gothic ProN',Osaka,メイリオ,Meiryo,"ＭＳ Ｐゴシック",sans-serif;

// ゴシック(今風)
$gothic-B: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// 明朝
$mincho-A: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;