<p class="mixin_ttl">g.max-screen($width) { ... }</p>
<p class="u-mb30">
画面サイズが$width以下で{ ... }内のスタイルが適用される
</p>

<pre class="codeArea">
@include g.max-screen(1024px) {
	.heading {
		display: none;
	}
}

↓  コンパイル  ↓

@media screen and (max-width: 1024px) {
	.heading {
		display: none;
	}
}
</pre>